/* Barra de navegacion */
.navbar {
padding: 2rem;
background-color: black;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
     /* Esconder el logo */
     /* Adaptable (responsivo) */
@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}
/* Estilos generales */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Seccion Hero */
     /* min-height le permitimos que se estire */
.hero{
    background-color: #0C0E12;
    color: white;
    min-height: 450px;
    text-align:center;
}
.hero-principal{
    padding: 3rem;
}
.hero-imagen-desarrollador{
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
    margin: 20px;
}
.hero-principal h2{
    font-size: 1.5rem;
    color: white;
}
     /* Medida relativa 2.5rem al tamaño de la letra raiz */
h1{
    font-size: 2.5rem;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
@media screen and (min-width: 700px){
    .hero-inferior-imagen{
        max-width: 600px;
    }
}
/* Seccion sobre mi */
.seccion-oscura{
    color: white;
    background-color: #000;
}
.sobre-mi{
    height: 500px;
    padding: 10px;
}
.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;
}
    /* Estilos generales */
.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: "Concert One", sans-serif;
}
.seccion-texto{
    font-size: 1.2rem;
}
/* Seccion experiencia */
.experiencia {
    padding: 40px 40px 60px 40px;
}
/* Eliminamos esta regla ,solo como referencia */
        /* .experiencia .row div{
        height: 250px;
        background-color: aqua;
        border: 3px solid orange;
        } */
.seccion-clara{
    color: #000;
    background-color: #F8F9FA;
}
.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.experiencia i {
    font-size: 2.5rem;
    color: #fff;
    background-color: #0C0E12;
    padding: 8px 19px;
    border-radius: 50%;
}
.badges-contenedor{
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0;
}
.badges {
    margin: 5px;
}
.experiencia .columna{
    padding: 20px;
    border:2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Equitativamente los elementos en el eje principal */
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}
.experiencia .columna:hover {
    color: white;
    background-color: #0C0E12;
}
/* Proyectos */
.proyectos-recientes{
    padding: 40px;
}
        /* Generales */
.texto-negro{
    color: black;
}
.texto-blanco{
    color: white;
}
.seccion-descripcion{
    font-size: 1.2rem;
    color: #584e4e;
}
.proyectos-recientes img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}
.proyectos-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}
        /* Overlay sobre una imagen */
.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}
.proyecto:hover img{
    opacity:0.2;
}
.proyecto:hover .overlay{
    opacity: 1;
}
.proyecto{
    position: relative;
}
.overlay .iconos-contenedor{
    display: flex;
}
.overlay i {
    color: #000;
    font-size: 60px;
    margin: 10px;
}
/* Adaptar con media query git ,laptop dispositivos pequeños */
@media screen and (max-width:400px){
    .overlay p{
        font-size: 18px;
    }
    .overlay i {
        font-size: 40px;
    }
}
         /* Estilo general */
.btn-info {
    font-size: 1.1rem;
    margin: 20px;
    font-weight: bold;
}
/* Articulos */
.articulos{
    min-height: 500px;
    padding: 30px;
}
.articulos .card{
    width: 80%;
    max-width: 600px;
    margin: 20px;
}
.articulos .card-header{
    font-weight: bold;
}
/* Testimonios */
.testimonios{
    padding: 40px 40px 80px 40px;
}
.testimonios .carousel{
    max-width: 800px;
}
.carousel-item{
    height: 500px;
}
.carousel-item .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-imagen{
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
}
.testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align:center;
}
.testimonio-info {
    font-weight: bold;
    text-align: center;
}
.testimonio-info p {
    margin-bottom: 0;
}
.testimonio-footer .cliente {
    font-size: 1.2rem;
}
.testimonio-info .cargo{
    font-size: 0.9rem;
    color: #656060;
}
/* Para que el contenido no se salga del contenedor */
@media screen and (max-width: 800px){
    .testimonio-imagen{
        height: 120px;
        width: 120px;
    }
    .testimonio-texto{
        font-size: 18px;
    }
}
/* Contacto */
.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}
.contacto .rectangulo {
    margin-top: -5rem;
    background-color: #DC3545;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}
.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}
.contacto .descripcion {
    color: white;
    font-size: 1.2rem;
}
.contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}
.contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}
.contacto button:hover {
    background-color: #a71d2a;
    color: #000;
}
.contacto button:hover i {
    color: #000;
}